# Ignore Play! working directory #
*.class
*.log
*.aux
*.out
*.gz
*.bak
bin/
/db
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.target
.cache-main
.cache-tests
.classpath
.project
.tmpBin
.factorypath
.settings
.ensime
.idea/
target/
logs
